<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.45.0/min/vs/loader.js"></script>
</head>
<body>
    {{ block "main" . }}{{ end }}
    <script src="{{ "wasm_exec.js" | relURL }}"></script>
    {{ $app := resources.Get "js/app.js" | minify }}
    <script src="{{ $app.RelPermalink }}"></script>
</body>
</html>
